.header-container-admin {
    &__menu {
        & .header-mobile-admin-menu {
            display: none;
        }

        & .header-menu-admin {
            position: static;
            background-color: transparent;
            width: auto;
            border: none;
            transform: translateY(0);
            opacity: 1;

            & .header-menu-admin-list {
                display: flex;

                & .header-menu-admin-item {
                    display: block;
                    border: solid 1px black;
                    border-radius: 0.7rem;
                    background-color: $cBtn;
                    margin-right: 20px;
                    padding: 5px 25px;
                    transition: all 0.3s;

                    &:hover {
                        border-color: $cBtnBorder;
                        background-color: #b9c2fd;
                    }

                    &:nth-child(1) {
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                    &:nth-child(2) {
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 10px;
                    }
                    
                    & > a {
                        display: block;
                        margin: auto;
                        font-size: 22px;

                        &:hover {
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

.main-chg-container {
    & .chg-form {
        & .text-form-group { 
            height: 192px;
            flex-wrap: wrap;
            & .form-text {
                & .form-text-input {
                    margin-right: 35%;
                }

                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        & .form-text-input {
                            margin-right: 10%;
                        }
                    }
                }
            }
        }
    }
}

.main-login-container {
    .form-container {

        &__text {
            & .form-label {
                font-weight: bold;
                font-size: 15px;
            }

            &:first-child {
                margin-bottom: 30px;
            }
        }

        &__checkbox {
            margin-top: 30px;
        }

        &__btn {
            margin-top: 40px;
        }
    }
}